.authentication{
    width: 100vw;
    height: 100vh;
    background-color: rgb(177, 235, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.authentication > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.authentication > div > p{
    color: azure;
    font-size: 2rem;
    width: 30vw;
    font-weight: bold;
    text-align: center;

}
.auth-inputs-holder{
    background-color:rgba(95, 158, 160, 0.5);
    max-width: 30vw;
    min-width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 3px rgba(102, 102, 102, 0.736);

    transition: 0.5s all;
}
.auth-inputs-holder button{
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 13px;
    padding: 5px;
    background-color:azure;
    font-weight: bold;
    border: 2px solid black;
    border-bottom: 5px solid black;
    width: 80%;
    margin: 0 30px;

    transition: 0.1s all;
}
.auth-inputs-holder button:focus{
    border-bottom: 2px solid black;
}
.auth-goBack-btn{
    border-radius: 0 !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 1rem !important;
    color: rgb(0, 0, 0);
}



.signup-component,
.login-component{
    width: 100%;
    height: 100%;
}

.signup-component form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2.5fr 0.5fr 1fr 1fr;
}
.login-component form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.5fr 1fr;
}

.signup-component form > p:nth-child(1),
.login-component form > p:nth-child(1){
    grid-column: 1/3;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0;
}
.login-comoponent-inputHolder{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
.signup-component form button,
.login-component form button{
    grid-column: 1/3;
    margin: 0 30%;
    width: 40%;
}
.signup-component-emailDiv,
.signup-component-passwordDiv,
.login-component-emailDiv,
.login-component-passwordDiv{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-component label{
    margin-top: 10px;
}
.signup-component input{
    outline: none;
    border: none;

    border-radius: 4px;
    padding: 5px;
    outline: 1px solid gray;
    background-color: rgb(224, 238, 238);
}
.login-comoponent-inputHolder input{
    outline: none;
    border: none;

    border-radius: 4px;
    padding: 5px;
    outline: 1px solid gray;
    background-color: rgb(224, 238, 238);
    margin: 0 10px;
}
.login-comoponent-inputHolder label{
    margin: 20px 10px 0 10px;
}
.auth-component-errorMsg{
    grid-column: 1/3;
    text-align: center;
    color: red;
    margin: 0;
    margin: 10px;
}


@media (max-width: 1125px){
    .auth-inputs-holder{
        height: auto;
        min-height: 300px;
    }
    .signup-component form{
        width: 100%;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr 0.5fr 0.5fr 0.1fr;
    }
    .auth-component-errorMsg{
        grid-column: 1/2;
        }
        .signup-component form button,
        .login-component form button{
        grid-column: 1/2;
        }
        .auth-inputs-holder form > p:nth-child(1){
            grid-column: 1/2;
        }


    .login-component form{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1.5fr 0.5fr 0.5fr;
    }
}
@media (max-width: 685px){
    .authentication > div{
        flex-direction: column;
    }
    .authentication > div > p{
        max-width: 400px;
        min-width: 300px;
    }
}
@media (max-width: 390px){
    .auth-inputs-holder{
        width: 100%;
        min-width: 100%;
    }
}