header{
    width: 100vw;
    height: 10vh;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.header-content{
    width: 87%;
    height: 100%;
    margin: 0 10%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.header-content p{
    grid-column: 3/5;
    font-size: 2rem;
    font-weight: bold;
    color:azure;

}
.header-content img{
    grid-column: 6/7;
    width: 50px;
    height: auto;
    justify-self: center;
}